@page "/basicinputs"
@rendermode InteractiveServer

<PageTitle>Hey You!</PageTitle>

<h3>Inputs Example</h3>

<HeadContent>
    <!-- Can use this to add a custom CSS script to this page only. -->
</HeadContent>

<section class="row">
    <div class="col-4">
        <br/>
        <ControlTextBoxes/>
    </div>
    <div class="col-4">
        <br/>
        <ControlListsAndSlides/>
    </div>
    <div class="col-4">
        <ControlRadioAndCheckBox/>
    </div>
</section>

@code {

}
